[submodule "backend"]
    path = backend
    url = https://github.com/hady-awayda/hackathon-backend.git
	branch = main
[submodule "frontend"]
    path = frontend
    url = https://github.com/hady-awayda/hackathon-frontend.git
	branch = main
[submodule "dvc"]
	path = dvc
	url = https://github.com/aliosayle/playstore_data_hackathon.git
	branch = main